p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: Roboto, Arial;
  margin: 0;
  padding-top: 70px;
  padding-left: 95px;
  padding-right: 25px;
  background-color: rgb(245, 239, 239);
}